/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fond assombri */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(1px);
    z-index: 5;
}

/* Popup principale */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
    max-width: 380px;
    background: #ffffff;
    padding: 25px 25px 30px;
    border-radius: 22px;
    text-align: left;
    z-index: 10;

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

/* Titre */
.modal h2 {
    font-size: 22px;
    color: #222;
    margin-bottom: 12px;
    font-weight: 700;
}

/* Texte */
.modal p {
    font-size: 15px;
    color: #555;
    line-height: 1.45;
    margin-bottom: 25px;
}

/* Boutons */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Style commun boutons */
.btn {
    flex: 1;
    padding: 13px 0;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* Bouton orange */
.continue {
    background: #f2641d;
}

/* Bouton bleu */
.identify {
    background: #0056d6;
}
